.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 1ms linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

table {
  border-spacing: 0;
}

td {
  padding: 2px 5px;
}

.jsonOdd {
  background: #eee;
}

.rowSelected {
  background: #ffe;
}
.cellSelected {
  background: #eef;
}
.headerSelected {
  color: blue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
